h2 {
    margin-top: 15px;
    text-align: center;
}

h3 {
    margin-top: 15px;
    text-align: center;
}

h2 span {float: left;}

h3 span#img {float: left;}

#map {
    width: 100%; 
    height: 80vh;
    background-color: #333;
}
span#map_btn {float: right;}

[class*="copyrights-pane"] {
	display: none !important;
}
