{% extends "base.html" %}

{% block content %}
<h3>
    <span id="img">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/icon.png') }}"
                title="Главная страница" width="30" height="30"></a>
    </span>
    OrderID = <span id="text">{{ id }}</span>
    <button id="copy" class="btn btn-link" title="Копировать">
        <img src="{{ url_for('static', filename='img/copy.png') }}"
                title="Копировать" width="30" height="30">
    </button>
    <span id="map_btn">
        <a href="{{ url_for('map') }}"><img src="{{ url_for('static', filename='img/map.png') }}"
                title="Карта" width="30" height="30"></a>
    </span>
</h3>
<hr>
<span id="status">
    <form class="btn" method="post" action="{{ url_for('change_status', id=id, status='QUEUED') }}">
        <input class="btn btn-primary" role="button" type="submit" value="QUEUED" />
    </form>
    <form class="btn" method="post" action="{{ url_for('change_status', id=id, status='PROCESSING') }}">
        <input class="btn btn-warning" role="button" type="submit" value="PROCESSING" />
    </form>
    <form class="btn" method="post" action="{{ url_for('change_status', id=id, status='FINISHED') }}">
        <input class="btn btn-success" role="button" type="submit" value="FINISHED" />
    </form>
    <form class="btn" method="post" action="{{ url_for('change_status', id=id, status='CANCELLED') }}">
        <input class="btn btn-dark" role="button" type="submit" value="CANCELLED" />
    </form>
</span>
<span id="action">
    <form class="btn" method="post" action="{{ url_for('execute_action', id=id, action='LOCK') }}">
        <input class="btn btn-secondary" role="button" type="submit" value="LOCK" />
    </form>
    <form class="btn" method="post" action="{{ url_for('execute_action', id=id, action='UNLOCK') }}">
        <input class="btn btn-info" role="button" type="submit" value="UNLOCK" />
    </form>
</span>
<hr>
{% if context_msg: %}
<p>{{ context_msg }}</p>
{% endif %}
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>Time</th>
            <th>Initiator</th>
            <th>Result</th>
            <th>Status</th>
            <th>Car Action</th>
            <th>Value to assign</th>
        </tr>
    </thead>
    <tbody>
        {% for history in context %}
        <tr>
            <td> {{ history.time.strftime("%d-%m-%Y %H:%M:%S.%f")[:-3] }} </td>
            <td> {{ history.initiator }} </td>
            <td id="result"> {{ history.result }} </td>
            <td> {{ history.new_order_state['status'] }} </td>
            <td> {{ history.new_order_state['car_action'] }} </td>
            <td> {{ history.value_to_assign }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            columns: [
                null,
                { orderable: false },
                { orderable: false },
                { orderable: false },
                { orderable: false },
                { orderable: false },
            ],
            order: [[0, 'desc'],]
        });
    });
</script>
{% endblock %}