{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<h2>
    <span>
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/icon.png') }}"
                title="Главная страница" width="30" height="30"></a>
    </span>
    {{ title }}
    <span id="map_btn">
        <a href="{{ url_for('map') }}"><img src="{{ url_for('static', filename='img/map.png') }}"
                title="Карта" width="30" height="30"></a>
    </span>
</h2>
<hr>
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>Car License Plate</th>
            <th>Status</th>
            <th>Car Status</th>
            <th>History</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td><a href="{{ url_for('orders_for_car', UUID_or_license_plate=order.license_plate) }}"> {{
                    order.license_plate }} </a></td>
            <td> {{ order.status }} </td>
            <td> {{ order.car_action }} </td>
            <td>
                {% if order.id %}
                <a href="{{ url_for('history_by_order', id=order.id) }}">
                    {{ order.time.strftime('%d-%m-%Y %H:%M:%S')[:-3] }}
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            columns: [
                { orderable: false },
                null,
                { orderable: false, searchable: false },
                { orderable: true }
            ],
            order: [[3, 'desc'], [0, 'asc']]
        });
    });
</script>
{% endblock %}