{% extends "base.html" %}

{% block head %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;coordorder=longlat&amp;apikey={{ api_key }}"
    type="text/javascript"></script>
<script type="text/javascript" src="https://yandex.st/jquery/2.2.3/jquery.js"></script>
{% endblock %}

{% block content %}
<h2>
    <span>
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/icon.png') }}"
                title="Главная страница" width="30" height="30"></a>
    </span>
    {{ title }}
    <span id="map_btn">
        <a href="{{ url_for('map') }}"><img src="{{ url_for('static', filename='img/map.png') }}" title="Карта" width="30" height="30"></a>
    </span>
</h2>
<hr>
<div class="container">
    <div id="map" class="map"></div>
</div>    
<hr>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    let center = [37.617134, 55.755793];
    function init() {
        let map = new ymaps.Map('map', {
            center: center,
            zoom: 9.7,
            controls: ['zoomControl']
        });

        {% for order in orders %}
            {% if order.id %}
                let {{order.license_plate}} = new ymaps.Placemark([{{order.lon}}, {{order.lat}}], {
                    balloonContent:`
                        <div>
                            <h4>{{order.license_plate}}</h4>
                            <div>Status : {{order.status}}</div>
                            <div>Fuel Level : {{order.fuel_level}}</div>
                            <a href="{{ url_for('history_by_order', id=order.id) }}">Time : {{ order.time.strftime('%d-%m-%Y %H:%M:%S')[:-3] }}</a>
                        </div>
                    `
                }, {
                    iconLayout: 'default#image',
                    iconImageHref: '/static/img/car.png',
                    iconImageSize: [20, 20],
                    iconImageOffset: [-14, -10]
                });
                map.geoObjects.add({{order.license_plate}});
            {% endif %}
        {% endfor %}

        function onZonesLoad(json) {
            // Добавляем зоны на карту.
            var deliveryZones = ymaps.geoQuery(json).addToMap(map);
            // Задаём цвет и контент балунов полигонов.
            deliveryZones.each(function (obj) {
                obj.options.set({
                    fillColor: obj.properties.get('fill'),
                    fillOpacity: obj.properties.get('fill-opacity'),
                    strokeColor: obj.properties.get('stroke'),
                    strokeWidth: obj.properties.get('stroke-width'),
                    strokeOpacity: obj.properties.get('stroke-opacity')
                });
                obj.properties.set('balloonContent', obj.properties.get('description'));
            });
        }
        map.controls.remove('geolocationControl'); // удаляем геолокацию
        map.controls.remove('searchControl'); // удаляем поиск
        map.controls.remove('trafficControl'); // удаляем контроль трафика
        map.controls.remove('typeSelector'); // удаляем тип
        map.controls.remove('fullscreenControl'); // удаляем кнопку перехода в полноэкранный режим
        map.controls.remove('zoomControl'); // удаляем контрол зуммирования
        map.controls.remove('rulerControl'); // удаляем контрол правил        

        $.ajax({
            url: '{{ path_to_geojson }}',
            dataType: 'json',
            success: onZonesLoad
        });
    }
    ymaps.ready(init);
</script>
{% endblock %}