{% extends "base.html" %}

{% block content %}

<h3>
    <span id="img">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/icon.png') }}"
                title="Главная страница" width="30" height="30"></a>
    </span>
    Car = <span id="text">{{ id }}</span>
    <button id="copy" class="btn btn-link" title="Копировать">
        <img src="{{ url_for('static', filename='img/copy.png') }}"
                title="Копировать" width="30" height="30">
    </button>
    <span id="map_btn">
        <a href="{{ url_for('map') }}"><img src="{{ url_for('static', filename='img/map.png') }}" title="Карта"
                width="30" height="30"></a>
    </span>
</h3>
{% if msg %}
<h4>{{ msg }}</h4>
{% endif %}
<hr>
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>Status</th>
            <th>Car Status</th>
            <th>History</th>
        </tr>
    </thead>
    <tbody>
        {% for order in context %}
        <tr>
            <td> {{ order.status }} </td>
            <td> {{ order.car_action }} </td>
            <td>
                {% if order.id %}
                <a href="{{ url_for('history_by_order', id=order.id) }}">
                    {{ order.time.strftime('%d-%m-%Y %H:%M:%S')[:-3] }}
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            columns: [
                null,
                { orderable: false, searchable: false },
                { orderable: true }
            ],
            order: [[2, 'desc'], [0, 'asc']]
        });
    });
</script>
{% endblock %}